<!--
  Generated template for the WorkPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>İş Bilgileri</ion-title>
    <ion-buttons end>
       <button ion-button (click)="closeModal()" >Close</button> 
       </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content padding>


    <form [formGroup]="workInformation" (ngSubmit)="closeModal()" novalidate>
<ion-list>


 <h3 align="center">Deneyim</h3>


    <ion-item>
        <ion-label floating>Şirket Adı</ion-label>
      <ion-input type="text" value="" name="SAd" formControlName="SAd"></ion-input>
    </ion-item>


      <ion-item>
                      <ion-label floating>Başlagıç Tarihi</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY"  name="BaTarih" formControlName="BaTarih" ></ion-datetime>
                    </ion-item>

                      <ion-item>
                      <ion-label floating>Bitiş Tarihi</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY" name="BiTarih" formControlName="BiTarih" ></ion-datetime>
                    </ion-item>


    <ion-item>
        <ion-label floating>Firmadaki Pozisyonu</ion-label>
      <ion-input type="text" value="" name="FPozisyon" formControlName="FPozisyon"></ion-input>
    </ion-item>


<ion-item>
        <ion-label floating>İş Tanımı</ion-label>
      <ion-input type="text" value="" name="Tanım" formControlName="Tanım"></ion-input>
    </ion-item>


<ion-item>
        <ion-label floating>Şirketin Bulunduğu İl</ion-label>
      <ion-input type="text" value="" name="Il" formControlName="Il"></ion-input>
    </ion-item>

  </ion-list>

  </form>
  
  <ion-list>
  <button ion-button icon-start round (click)="onButtonClick()">
    <ion-icon name="md-add-circle"></ion-icon>
    Deneyim Ekle
  </button>
  </ion-list>
  
  
  <form [formGroup]="workInformation" (ngSubmit)="closeModal()" novalidate>
      <ion-list>
  <br><br>
  
  <div *ngIf="buttonClicked">
    
    <h3 align="center">2.Deneyim</h3>
    
    
    <ion-item>
      <ion-label floating>Şirket Adı</ion-label>
      <ion-input type="text" value="" name="SAd2" formControlName="SAd2"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label floating>Başlagıç Tarihi</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY" name="BaTarih2" formControlName="BaTarih2" ></ion-datetime>
    </ion-item>
    
    <ion-item>
      <ion-label floating>Bitiş Tarihi</ion-label>
      <ion-datetime displayFormat="DD/MM/YYYY"  name="BiTarih2" formControlName="BiTarih2" ></ion-datetime>
    </ion-item>
    
    
    <ion-item>
      <ion-label floating>Firmadaki Pozisyonu</ion-label>
      <ion-input type="text" value="" name="FPozisyon2" formControlName="FPozisyon2"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label floating>İş Tanımı</ion-label>
      <ion-input type="text" value="" name="Tanım2" formControlName="Tanım2"></ion-input>
    </ion-item>
    
    
    <ion-item>
      <ion-label floating>Şirketin Bulunduğu İl</ion-label>
      <ion-input type="text" value="" name="Il2" formControlName="Il2"></ion-input>
    </ion-item>
    
    
    
    
  </div>
  
</ion-list>
  </form>
  <ion-list> 
      <div *ngIf="buttonClicked">
  <button ion-button icon-start round (click)="Deneyimekle()">
      <ion-icon name="md-add-circle"></ion-icon>
      Deneyim Ekle 
    </button>
      </div>
  </ion-list>



 <br><br>



 <form [formGroup]="workInformation" (ngSubmit)="closeModal()" novalidate>
    <ion-list>


<div *ngIf="kontrol">

   <h3 align="center">3.Deneyim</h3>


    <ion-item>
        <ion-label floating>Şirket Adı</ion-label>
      <ion-input type="text" value="" name="SAd3" formControlName="SAd3"></ion-input>
    </ion-item>


      <ion-item>
                      <ion-label floating>Başlagıç Tarihi</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY"  name="BaTarih3" formControlName="BaTarih3" ></ion-datetime>
                    </ion-item>

                      <ion-item>
                      <ion-label floating>Bitiş Tarihi</ion-label>
                      <ion-datetime displayFormat="DD/MM/YYYY" name="BiTarih3" formControlName="BiTarih3" ></ion-datetime>
                    </ion-item>


    <ion-item>
        <ion-label floating>Firmadaki Pozisyonu</ion-label>
      <ion-input type="text" value=""  name="FPozisyon3" formControlName="FPozisyon3"></ion-input>
    </ion-item>


<ion-item>
        <ion-label floating>İş Tanımı</ion-label>
      <ion-input type="text" value="" name="Tanım3" formControlName="Tanım3"></ion-input>
    </ion-item>


<ion-item>
        <ion-label floating>Şirketin Bulunduğu İl</ion-label>
      <ion-input type="text" value="" name="Il3" formControlName="Il3"></ion-input>
    </ion-item>








 <br><br><br>
</div>
<br>
<ion-item>
  <ion-label>Yabancı Dil</ion-label>
  <ion-select  multiple="true"  name="YDil" formControlName="YDil">
    <ion-option>İngilizce</ion-option>
    <ion-option>Fransızca</ion-option>
    <ion-option>Almanca</ion-option>
    <ion-option>Çince </ion-option>
    <ion-option>İspanyolca </ion-option>
    <ion-option>Hintçe </ion-option>
    <ion-option>Arapça </ion-option>
    <ion-option>Portekizce  </ion-option>
    <ion-option>Rusça  </ion-option>
    <ion-option>Japonca </ion-option>
    <ion-option>Portekizce </ion-option>
    <ion-option>İtalyanca </ion-option>
  </ion-select>
</ion-item>
<br>

<ion-item>
        <ion-label floating>Yetenekler</ion-label>
      <ion-input type="text" value=""  name="Yetenek" formControlName="Yetenek"></ion-input>
    </ion-item>

<br>



<ion-item>
        <ion-label floating>Sertifika</ion-label>
      <ion-input type="text" value="" name="Sertifika" formControlName="Sertifika"></ion-input>
    </ion-item>

</ion-list>
   
 </form>
</ion-content>
